.is-invalid {
  border: 1px solid red;
}
.invalid-text::after {
  content: 'Please make sure that this field is completed before adding an issue';
  font-weight: 300;
  font-size: 1rem;
  padding-left: 2rem;
  color: red;
}